# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\FRINCU\Documents\Repository---Python\AtelierDigitalGoogle---Python\tema proiect final\agentie_turism\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
